{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">

            <div class="row">

              <div class="col-lg-7">
                <h5 class="mb-3"><a href="{{path('app_articles')}}" class="text-body"><i
                      class="fas fa-long-arrow-alt-left me-2"></i>Continuer les achats</a></h5>
                              <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Panier</p>
                     <p class="mb-0">Vous avez {{nb_articles}} article dans votre panier</p>
                  </div>
                </div>
              {% if contenu_panier|length > 0 %}
                {% for article in contenu_panier %}
                <div class="card mb-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div class="d-flex flex-row align-items-center">
                        <div>
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                            class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                        </div>
                        <div class="ms-3">
                          <h5>{{ article.nom }}</h5>
                        </div>
                      </div>
                      <div class="d-flex flex-row align-items-center">
                        <div style="width: 50px;">
                          <h5 class="fw-normal mb-0">{{ article.quantite }}</h5>
                        </div>
                        <div style="width: 80px;">
                          <h5 class="mb-0">{{ article.prix }}</h5>
                        </div>
                        <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
                 {% endfor %}  
                  {% else %}
                    
                  {% endif %}
              </div>
              <div class="col-lg-5">

                <div class="card  text-black rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Details carte</h5>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                        class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                    </div>

                    <form class="mt-4">
                    <label class="form-label" for="typeName">Nom sur la carte</label>
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                          placeholder="Cardholder's Name" />
                      </div>
                      
                      <label class="form-label" for="typeName">Numéro de carte</label>
                      <div class="form-outline form-white mb-4">
                        <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                          placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" />
                      </div>

                      <div class="row mb-4">
                        <div class="col-md-6">
                          <label class="form-label" for="typeExp">Expiration</label>
                          <div class="form-outline form-white">
                            <input type="text" id="typeExp" class="form-control form-control-lg"
                              placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" />

                          </div>
                        </div>
                        <div class="col-md-6">

                          <div class="form-outline form-white">
                            <label class="form-label" for="typeExp">CVV</label>
                            <input type="password" id="typeText" class="form-control form-control-lg"
                              placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" />
                            
                          </div>
                        </div>
                      </div>

                    </form>

                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Sous-total</p>
                      <p class="mb-2">{{ totalPanierSansTVA }} $</p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">TVA</p>
                      <p class="mb-2">{{TVA * 100}} %</p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Total(Taxes Incluses)</p>
                      <p class="mb-2">{{ totalPanierSansTVA + totalPanierSansTVA * TVA  }} $</p>
                    </div>

                    <button type="button" class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between">
                        <span><a href="{{path('commandes_en_cours')}}" class="text-body">Payer</a><i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                      </div>
                    </button>

                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
