<style>
	input::placeholder {
		text-align: right;
	}
	input {
		text-align: right;
	}

	.my-icons {
		font-size: 1.5rem;
		vertical-align: middle;
	}

</style>

<!-- Navbar -->
<nav
	<div class="navbar navbar-expand-lg bg-danger">
	<!-- Container wrapper -->
	<div
		class="container-fluid">

		<!-- Navbar brand -->
		<a class="navbar-brand" href="{{ path('app_articles') }}">
			<img src="{{ asset('images/logov2.png') }}" alt="Le logo de ALL4SPORT" srcset="" height="50px">
		</a>

		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div
				class="navbar-nav mr-auto mb-1 mb-lg- mx-auto">
				<!-- Search -->
				<form class="w-auto flex-grow-1" action="" method="get">
					<div class="position-relative">
						<input type="search" class="form-control rounded-pill pl-10 w-100" placeholder="Rechercher..." aria-label="Rechercher..">
						<i class="fas fa-search position-absolute" style="top: 50%; left: 10px; transform: translateY(-50%);"></i>
					</div>
				</form>


			</div>

			<!-- Icons -->
			<ul class="navbar-nav d-flex flex-row me-1">
				<li class="nav-item me-3 me-lg-0">
					<a href="{{ path('app_panier') }}" class="nav-link d-flex flex-row align-items-center">
						<img src="{{ asset('images/caddie.png') }}" alt="panier" srcset="" height="20px">
						<i class="bi bi-bag-fill"></i>
					</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link d-flex flex-row flex-wrap" href="{{ path('app_profil') }}">
							<img src="{{ asset('images/profil.png') }}" alt="profil" srcset="" height="20px">
							<i class="bi bi-person-circle"></i>
						</a>
					</li>
				{% else %}
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link d-flex flex-row align-items-center" href="{{path('app_login')}}">
						<p>
							Connexion
						</p>
							<i class="bi bi-box-arrow-in-right"></i>
						</a>
					</li>
				{% endif %}

			</ul>


		</div>
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
