<!-- Navbar -->
<nav
	<div class="navbar navbar-expand-lg bg-danger">
	<!-- Container wrapper -->
	<div
		class="container-fluid">

		<!-- Navbar brand -->
		<a class="navbar-brand" href="{{ path('app_articles') }}">
			<img src="{{ asset('images/logov2.png') }}" alt="Le logo de ALL4SPORT" srcset="" height="50px">
		</a>

		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div
				class="navbar-nav mr-auto mb-1 mb-lg- mx-auto">
				<!-- Search -->
				<form class="w-auto flex-grow-1" action="" method="get">
						<input type="search" class="form-control rounded-pill pl-10 w-100" placeholder="Rechercher..." aria-label="Rechercher..">
				</form>
			</div>

			<!-- Icons -->
			<ul class="navbar-nav d-flex flex-row me-1">
				<li class="nav-item me-3 me-lg-0">
					<a href="{{ path('app_panier') }}" class="nav-link d-flex flex-row align-items-center">
						Panier
						<div class="p-1"></div>
						<i class="bi bi-bag-fill"></i>
					</a>
				</li>
				{% if is_granted('ROLE_USER') %}
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link d-flex flex-row flex-wrap" href="{{ path('app_profil') }}">
							Profil
							<div class="p-1"></div>
							<i class="bi bi-person-circle"></i>
						</a>
					</li>
				{% else %}
					<li class="nav-item me-3 me-lg-0">
						<a class="nav-link d-flex flex-row align-items-center" href="{{path('app_login')}}">
							Connexion
							<div class="p-1"></div>
							<i class="bi bi-box-arrow-in-right"></i>
						</a>
					</li>
				{% endif %}

			</ul>
		</div>
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
