{% extends 'base.html.twig' %}

{% block title %}{{filtre}}{% endblock %}

{% block body %}
<style>
    ul {
        list-style: none;
    }

    .marge {
        margin-left:auto;
    }

</style>
    {% for categorie in categories %}
    <section>
        <div class="container p-2">
        <div class="d-flex align-items-center ">
            <div><h2>{{categorie.catégories}}</h2></div>
            <div class="marge"><button class="btn">Voir tout</button></div>
        </div>

            <hr class="hr">
                        <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
            <ul>
                {% for produit in categorie.produits %}
                        <div class="container py-5">
    <div class="row">
      <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
        <div class="card">
          <img src="https://picsum.photos/286/180"
            class="card-img-top" alt="Random" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">{{categorie.catégories}}</a></p>
              <p class="small text-danger"><s>{{produit.prix}}€</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">{{produit.nom}}</h5>
              <h5 class="text-dark mb-0">{{produit.prix}}€</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">6</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
                {% endfor %}

            </ul>
                        <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
        </div>
        {% endfor %}
    </section>
</section>
{% endblock %}