{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}


{% block body %}


	<style>
		.small {
			height: 40px; /* Définir la hauteur en pixels */
			max-height: 40px; /* Définir la hauteur maximale en pixels */
			overflow: hidden; /* Cacher le contenu qui dépasse la hauteur maximale */
			text-overflow: ellipsis; /* Ajouter des points de suspension (...) pour indiquer que du contenu est caché */
			white-space: pre-line;
		}

		.row {
			min-height: 3rem;
		}

		.card {
			transition: all 0.3s ease-in-out;
		}

		.card:hover {
			transform: scale(1.05);
		}

		.carousel .carousel-item {
			height: 300px;
		}

		.carousel-item img {
			position: absolute;
			object-fit: cover;
			top: 0;
			left: 0;
			min-height: 300px;
		}
	</style>

	{% include 'partials/_carousel.html.twig' %}

	{% for rayon in rayons %}
		<section>
			<div class="container">
				<div class="row">

					<h2 class="col-lg-6 col-md-6 col-sm-6">{{rayon.nom}}</h2>
					<a class=" col-lg-6 col-sm -6 col-md-6 " style="text-align:right" href="{{path('app_categorie', {'id': rayon.id})}}">Voir tout</a>
					<hr class="hr">
				</div>

				<div class="row gy-5 p-1">
					{% for produit in rayon.produits |slice(0,4) %}
						<div class="col-lg-3 col-md-6">
							<a href="{{path('article_details', {'id': produit.id})}}" class="text-decoration-none">
								<div class="card shadow">
									<img src="https://picsum.photos/286/180?random=1" class="card-img-top" alt="Random"/>
									<div class="card-body">
										<h5 class="text-center fw-bold">{{produit.nom}}</h5>
										<p class="text-muted small">{{produit.description}}</p>
										<hr>
										<p class="text-dark mb-0 text-center">
											<strong>{{produit.prix}}€</strong>
										</p>

										<div class="d-flex justify-content-between mb-2">
											<p class="text-error mb-0 text-center w-100">Plus que
												<span>{{articles_qte[produit.id]}}</span>
												articles en stock !
											</p>
										</div>
									</div>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endfor %}
{% endblock %}
